= render "layouts/manage/page_title", title: t(:title, scope: 'pages.manage.check-in')

.mb-4
  %table.checkins.datatable.table.table-striped.table-hover{ "data-source" => datatable_manage_checkins_path(format: :json) }
    = render "checkins_datatable", applicants: @applicants, applicants_search: @applicants_search, applicants_pagy: @applicants_pagy
