= render "layouts/manage/page_title", title: "Check-in"

.mb-4
  %table.checkins.datatable.table.table-striped.table-hover{ "data-source" => datatable_manage_checkins_path(format: :json) }
    %thead
      %tr
        %th First name
        %th Last name
        %th About
        %th In?
        %th Actions
    %tbody
