= render "layouts/manage/page_title", title: "Schools" do
  = link_to "New School", new_manage_school_path, class: "btn btn-sm btn-outline-secondary"

%div
  %table.schools.datatable.table.table-striped.table-hover{ "data-source" => datatable_manage_schools_path(format: :json) }
    %thead
      %tr
        %th ID
        %th Name
        %th City
        %th State
        %th Count
        %th Home?
    %tbody
    %tfoot
      %tr
        %th
          %input.form-control.form-control-sm{autocomplete: 'off', placeholder: 'ID'}
        %th
          %input.form-control.form-control-sm{autocomplete: 'off', placeholder: 'Name'}
        %th
          %input.form-control.form-control-sm{autocomplete: 'off', placeholder: 'City'}
        %th
          %input.form-control.form-control-sm{autocomplete: 'off', placeholder: 'State'}
        %th
