= render "layouts/manage/page_title", title: t(:title, scope: 'pages.manage.schools') do
  = link_to "New School", new_manage_school_path, class: "btn btn-sm btn-outline-secondary"

= render "schools_datatable", schools: @schools, schools_search: @schools_search, schools_pagy: @schools_pagy
