{
    "rules": {},
    "env": {
        "es2017": true,
        "node": true,
        "browser": true
    },
    "extends": "eslint:recommended",
    "parserOptions": {
        "sourceType": "module"
    }
}
