.form-container
  #disclaimer
    %h1.section-title
      Authorization
      %span.emphasized Error
    %p
      = @pre_auth.error_response.body[:error_description]
    %p
      = t('doorkeeper.errors.messages.get_help', hackathon_name: content_tag(:strong, class: 'text-info') { HackathonConfig['name'] })


