<div class="form-container">
  <div id="disclaimer">
    <h1 class="section-title">
      Authorization
      <span class="emphasized">Error</span>
    </h1>
    <p>
      <%= @pre_auth.error_response.body[:error_description] %>
    </p>
    <p>
      <%= t('doorkeeper.errors.messages.get_help', hackathon_name: HackathonConfig['name']) %>
    </p>
  </div>
</div>
