- title 'Register'
.form-container.signup
  %h1.section-title.center
    Create an
    .emphasized.text-overflow-center
      Account

  - if !HackathonConfig.accepting_questionnaires || HackathonConfig.disclaimer_message.present?
    #disclaimer
      - if !HackathonConfig.accepting_questionnaires
        .center
          %p= markdown(HackathonConfig.questionnaires_closed_message)
        %br
      - if HackathonConfig.disclaimer_message.present?
        = markdown(HackathonConfig.disclaimer_message)

  = render 'form'
