- title 'Register'
.form-container.signup
  %h1.section-title.center
    Register for
    %div.emphasized.text-overflow-center= HackathonConfig['name']

  - if !HackathonConfig['accepting_questionnaires'] || HackathonConfig['disclaimer_message'].present?
    #disclaimer
      - if !HackathonConfig['accepting_questionnaires']
        .center
          %strong We are no longer accepting applications. Thanks to everyone who applied!
        %br
      - if HackathonConfig['disclaimer_message'].present?
        = markdown(HackathonConfig['disclaimer_message'])

  = render 'form'
