= render "layouts/manage/page_title", title: t(:title, scope: 'pages.manage.agreements') do
  = link_to "New Agreement", new_manage_agreement_path, class: "btn btn-sm btn-outline-secondary"

= render "agreements_datatable", agreements: @agreements, agreements_pagy: @agreements_pagy, agreements_search: @agreements_search
