.row
  .col-lg
    .card.mb-3
      .card-header Recent Changes
      .card-body.pb-2
        = render "model_history", model: @questionnaire, audits: @questionnaire.audits + @questionnaire.user.audits

-# Stubbed for HM-2.1
  -#.col-lg-6
    -#.card.mb-3
      -#.card-header Recent Email Events
      -#.card-body
        -#- email_provider = Rails.application.config.action_mailer.delivery_method
        -#- if email_provider == :sendgrid_actionmailer
          -#.email-events{ data: { url: message_events_manage_questionnaire_path(@questionnaire) } }
            -#%em Email events not available at this time.
        -#- else
          -#%p.alert.alert-info
           -# Not supported with current email provider (#{email_provider})
