<div class="row">
  <div class="col-lg">
    <div class="card mb-3">
      <div class="card-header">Recent Changes</div>
      <div class="card-body pb-2">
        <%= render "model_history", model: @questionnaire, audits: @questionnaire.audits + @questionnaire.user.audits %>
      </div>
    </div>
  </div>
</div>
