= render "layouts/manage/page_title", title: "Edit Questionnaire", subtitle: @questionnaire.full_name do
  .btn-group
    = link_to 'Cancel', manage_questionnaire_path(@questionnaire), class: 'btn btn-sm btn-outline-secondary'
    = link_to 'Delete', manage_questionnaire_path(@questionnaire), method: :delete, data: { confirm: "Are you sure? The questionnaire will be permanently erased. This action is irreversible." }, class: 'btn btn-sm btn-outline-secondary'

= render 'form'
