= render "layouts/manage/page_title", title: "New Event"

-#.form-container
-#  = bs_horizontal_simple_form_for @events, url: url_for(action: @events.new_record? ? "create" : "update", controller: "@events") do |f|
-#    - if f.error_notification.present?
-#      #disclaimer
-#        = f.error_notification
-#    .form-inputs
-#      = f.input :name
