<%= render "layouts/manage/page_title", title: "Edit Event", subtitle: @event.title do %>
  <div class="btn-group">
    <%= link_to 'Cancel', manage_events_path, class: 'btn btn-sm btn-outline-secondary' %>
    <%= link_to 'Delete', manage_event_path(@event), method: :delete, data: { confirm: 'Are you sure? This action is irreversible.' }, class: 'btn btn-sm btn-outline-secondary' %>
  </div>
<% end %>
<%= render "form" %>
