@mixin transition(var(--duration), var(--property), var(--function), var(--delay))
  -webkit-transition: var(--duration) var(--property) var(--function) var(--delay)
  -moz-transition-duration: var(--duration)
  -moz-transtition-property: var(--property)
  -moz-transition-timing-function: var(--function)
  -moz-transition-delay: var(--delay)
  -o-transition: var(--duration) var(--property) var(--function) var(--delay)
  transition: var(--duration) var(--property) var(--function) var(--delay)

@mixin border-radius(var(--radius))
  -webkit-border-radius: var(--radius)
  -moz-border-radius: var(--radius)
  -ms-border-radius: var(--radius)
  -o-border-radius: var(--radius)
  border-radius: var(--radius)

@mixin scale(var(--args))
  -webkit-transform: scale(var(--args))
  -o-transform: scale(var(--args))
  transform: scale(var(--args))

@mixin box-shadow(var(--args))
  -webkit-box-shadow: var(--args)
  -moz-box-shadow: var(--args)
  box-shadow: var(--args)

@mixin placeholder-color(var(--color))
  &::placeholder
    color: var(--color)
    font-style: italic
  &::-webkit-input-placeholder
    color: var(--color)
    font-style: italic
  &:-moz-placeholder /* Firefox 18- */
    color: var(--color)
    font-style: italic
  &::-moz-placeholder  /* Firefox 19+ */
    color: var(--color)
    font-style: italic
  &:-ms-input-placeholder
    color: var(--color)
    font-style: italic

@mixin box-sizing(var(--box-model))
  -webkit-box-sizing: var(--box-model)
  -moz-box-sizing: var(--box-model)
  box-sizing: var(--box-model)

@mixin appearance(var(--appearance))
  -webkit-appearance: var(--appearance)
  -moz-appearance: var(--appearance)
  appearance: var(--appearance)

@mixin background-size(var(--arg))
  -webkit-background-size: var(--arg)
  -moz-background-size: var(--arg)
  -o-background-size: var(--arg)
  background-size: var(--arg)

@mixin translate(var(--x), var(--y))
  transform: translate(var(--x), var(--y))
  -webkit-transform: translate(var(--x), var(--y))
  -moz-transform: translate(var(--x), var(--y))
  -o-transform: translate(var(--x), var(--y))
