= render "layouts/manage/page_title", title: "Admins" do
  = link_to "New Admin", new_manage_admin_path, class: "btn btn-sm btn-outline-secondary"

%div
  %table.users.datatable.table.table-striped.table-hover{ "data-source" => datatable_manage_admins_path(format: :json) }
    %thead
      %tr
        %th ID
        %th Email
        %th Access Level
    %tbody
