// CSS reset largely copied from Tailwind CSS's Preflight: https://tailwindcss.com/docs/preflight

body {
    font-family: sans-serif;
}

body,
blockquote,
dl,
dd,
h1, h2, h3, h4, h5, h6,
hr,
figure,
p,
pre {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: inherit;
}

ol,
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
    display: block;
    vertical-align: middle;
}

a {
    color: initial;
    text-decoration: none;
}


// flexbox repsonsive stuff

.container {
    position: relative;
    max-width: 1200px;
    min-height: 100%;
    margin: 0 auto;
    padding: 0 2rem;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: 1rem;

    [class^="col-"] {  // matches <element class="col-[anything]"></element>
        display: flex;
        flex: 1 0 0;
        flex-direction: column;
        gap: 1.5rem;
        margin-bottom: 1.5rem;
    }

    .col-8 {
        flex: 8 8 0;
    }

    .col-6 {
        flex: 6 6 0;
    }

    .col-4 {
        flex: 4 4 0;
    }
}
