// colors

$light: #FFFFFF;
$dark:  #4D4D4D;
// use var(--accent-color) for accent color
// use var(--accent-contrast) for color that needs to contrast the accent color


// animations
$transition-duration: 0.25s;
$transition-type: ease-in-out;


// mixins

@mixin border {
    border: 0.125rem solid $dark;
    border-radius: 0.375rem;
}

@mixin box-shadow {
    box-shadow: 0.5rem 0.5rem 0 $dark;
}

@mixin clickable-hover {
    transition-duration: $transition-duration;
    transition-property: box-shadow, transform;
    transition-timing-function: $transition-type;

    &:hover {
        box-shadow: 0 0 0 $dark;
        transform: translate(0.5rem, 0.5rem);
    }
}
