<% secret ||= false  # default value if prop not set %>
<% default ||= nil  # default value if prop not set %>
<% required = true if required.nil?  # default value if prop not set %>
<% value = ENV[key] || default %>
<p>
  <b>
    <%= name %>
  </b>
  &nbsp;
  <small>
    <code>
      <%= key %>
    </code>
  </small>
  <br/>
  <% if value.present? %>
    <% if secret %>
      <span class="badge badge-success">Set (hidden)</span>
    <% else %>
      <pre>
        <%= value %>
      </pre>
    <% end %>
  <% elsif required %>
    <span class="badge badge-danger">Not set</span>
  <% else %>
    <span class="badge badge-secondary">Not set</span>
    <span class="badge badge-secondary">Optional</span>
  <% end %>
</p>
