- if flash[:error].present?
  .alert.alert-danger.mt-3
    %span.fa.fa-exclamation-triangle.icon-space-r-half
    = flash[:error].html_safe

- if flash[:notice].present?
  .alert.alert-info.mt-3
    %span.fa.fa-info-circle.icon-space-r-half
    = flash[:notice].html_safe
