<dl class="row">
  <dt class="col-md-3">Status</dt>
  <dd class="col-md-9">
    <% if MessageTemplate.instance.customized? %>
      <span class="badge badge-danger mb-1">Using customized template</span>
      <br/>
      Not in sync with HackathonManager
      <% if current_user.try(:director?) %>
        <br/>
        <small>
          <%= link_to template_replace_with_default_manage_messages_path, method: :post, data: { confirm: 'Are you sure? This will permanently erase the existing template and replace it with the HackathonManager default. This action is irreversible.'} do %>
            <span class="fa fa-refresh icon-space-r-half"></span>
            Restore HackathonManager default
          <% end %>
        </small>
      <% end %>
    <% else %>
      <span class="badge badge-success mb-1">Using default template</span>
      <br/>
      In sync with HackathonManager
    <% end %>
  </dd>
</dl>
<% if MessageTemplate.instance.customized? %>
  <dl class="row">
    <dt class="col-md-3">Last modified</dt>
    <dd class="col-md-9">
      <%= display_datetime(MessageTemplate.instance.updated_at || MessageTemplate.instance.created_at) %>
    </dd>
  </dl>
<% end %>
