<h3 class="mt-5 pb-2" id="triggered-email-overview">Templating</h3>
<p>
  Message bodies can make use of template variables to help personalize and streamline emails.
  Templating is powered by <a target="_blank" rel="noopener" href="https://mustache.github.io/mustache.5.html">mustache</a>.
</p>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Variable</th>
      <th>About</th>
      <th>Example</th>
    </tr>
  </thead>
  <tbody>
    <% example = MessageVariables.new(nil, true) %>
    <% variables = MessageVariables.variables.select { |_, config| !config["hidden_for_internal_use_only"] } %>
    <% variables.each do |variable, config| %>
      <tr>
        <td>
          <pre>{{#{variable}}}</pre>
        </td>
        <td>
          <span>
            <%= config["description"] %>
          </span>
        </td>
        <td>
          <pre>
            <%= example.send(variable) %>
          </pre>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
