= render "layouts/manage/page_title", title: "Messages" do
  = link_to "New Message", new_manage_message_path, class: "btn btn-sm btn-outline-secondary"

%div
  %table.messages.datatable.table.table-striped.table-hover{ "data-source" => datatable_manage_messages_path(format: :json) }
    %thead
      %tr
        %th
        %th ID
        %th Name
        %th Subject
        %th Trigger
        %th Bulk Status
        %th Bulk Delivered
    %tbody

  %hr

  = render 'triggered_email_summary'
