%section.section
  .container
    - title "Edit Application"
    .form-container
      %h1.section-title
        Edit
        %span.emphasized Application

    = render 'form'

    - if @questionnaire.valid?
      .form-container
        .right
          %p.session-link
            = link_to 'Cancel', questionnaires_path
