<% title "Edit Application" %>
<div class="form-container">
  <h1 class="section-title">
    Edit
    <span class="emphasized">Application</span>
  </h1>
</div>
<%= render 'form' %>
<% if @questionnaire.valid? %>
  <div class="form-container">
    <div class="right">
      <p class="session-link">
        <%= link_to 'Cancel', questionnaires_path %>
      </p>
    </div>
  </div>
<% end %>
