%section.section
  .container
    - title "Apply"
    .form-container
      %h1.section-title.left
        Apply for
        %span.emphasized= Rails.configuration.hackathon['name']

    = render 'form'
