.section
  .container
    .form-container.login
      %h1.section-title.center
        Sign in to
        %span.emphasized= Rails.configuration.hackathon['name']
      - if notice
        .form-success
          .success_message
            %p#notice= notice
      = render 'form'
