<% title 'Sign In' %>
<div class="form-container login">
  <h1 class="section-title center">
    Sign in to
    <div class="emphasized text-overflow-center">
      <%= HackathonConfig['name'] %>
    </div>
  </h1>
  <%= render 'form' %>
</div>
