<h2>Congratulations <%= @questionnaire.first_name %>, you're in!</h2>
<p>You have been accepted to attend <%= Rails.configuration.hackathon['name'] %>! Please RSVP:</p>
<p>
  <a href="https://brickhack.io/rsvp/accept" class="button" target="_blank">Yes, I will Attend &raquo;</a>
  <a href="https://brickhack.io/rsvp/deny" class="button" target="_blank">No, I Can't Attend &raquo;</a>
  <br>
  <small><i>Link not working? Go to <a href="https://brickhack.io/rsvp">brickhack.io/rsvp</a></i></small>
</p>
