<h2 class="center">
  Thanks for Applying!
</h2>

<p>Hey <%= @questionnaire.first_name %>,</p>
<p>We've received your application to BrickHack 3!</p>
<p>If needed, you can edit your information by clicking the button below.</p>
<%= link_to questionnaires_url, class: 'button' do %>
  My Profile
<% end %>
