<h2>Finish Your Application</h2>
<p>You're almost there! You completed the My MLH part of the application, but didn't finish the additional <%= Rails.configuration.hackathon['name'] %>-specific questions.</p>
<p><strong>Your application will not be considered until it is completed.</strong></p>
<p>Not to worry! Just <%= link_to 'head on back to the website', questionnaires_url %>, sign in with your existing My MLH account (if necessary), and complete the application.</p>
<p><%= link_to 'Finish Application »', questionnaires_url, class: 'button' %></p>
<p>Happy hacking!<br> - The <%= Rails.configuration.hackathon['name'] %> Team</p>
