= render "layouts/manage/page_title", title: "Statistics & Info"

.row
  .col
    %h5.dashboard-container-title Dietary Restrictions & Special Needs
    %table.stats.datatable.table.table-striped.table-hover{ "data-source" => dietary_special_needs_manage_stats_path(format: :json) }
      %thead
        %tr
          %th First name
          %th Last name
          %th Email
          %th Phone
          %th Checked In
          %th Dietary Restrictions
          %th Special Needs
      %tbody

.row
  .col
    %h5.dashboard-container-title Attendees Not Traveling From Their School
    %table.stats.datatable.table.table-striped.table-hover{ "data-source" => alt_travel_manage_stats_path(format: :json) }
      %thead
        %tr
          %th Link
          %th First name
          %th Last name
          %th Email
          %th Traveling From
          %th Acc Status
      %tbody

.row
  .col
    %h5.dashboard-container-title Attendee Info for Sponsors
    %table.stats.datatable.table.table-striped.table-hover{ "data-source" => sponsor_info_manage_stats_path(format: :json) }
      %thead
        %tr
          %th First name
          %th Last name
          %th Email
          %th School
          %th Open Source Link
          %th Portfolio Link
          %th Resume Link
      %tbody

.row
  .col
    %h5.dashboard-container-title MLH Info (applied)
    %table.stats.datatable.table.table-striped.table-hover{ "data-source" => mlh_info_applied_manage_stats_path(format: :json) }
      %thead
        %tr
          %th First name
          %th Last name
          %th Email
          %th School Name
      %tbody

.row
  .col
    %h5.dashboard-container-title MLH Info (checked in)
    %table.stats.datatable.table.table-striped.table-hover{ "data-source" => mlh_info_checked_in_manage_stats_path(format: :json) }
      %thead
        %tr
          %th First name
          %th Last name
          %th Email
          %th School Name
      %tbody

.mb-4
