= render "layouts/manage/page_title", title: "Statistics & Info"

.row
  .col
    %h5.dashboard-container-title Dietary Restrictions or Special Needs
    %table.datatable.stats-dietary.table.table-striped.table-hover{ "data-source" => dietary_restrictions_special_needs_datatable_manage_stats_path(format: :json) }
      %thead
        %tr
          %th ID
          %th First Name
          %th Last Name
          %th Email
          %th Phone
          %th Questionnaire
          %th Checked In
          %th Dietary Restrictions
          %th Special Needs
      %tbody

.row
  .col
    %h5.dashboard-container-title Attendees Not Traveling From Their School
    %table.datatable.stats-notschooltravel.table.table-striped.table-hover{ "data-source" => alt_travel_datatable_manage_stats_path(format: :json) }
      %thead
        %tr
          %th ID
          %th First Name
          %th Last Name
          %th Email
          %th Phone
          %th Questionnaire
          %th Traveling From
          %th Questionnaire Status
      %tbody

.row
  .col
    %h5.dashboard-container-title Attendee Info for Sponsors
    %table.datatable.stats-attendeeinfo.table.table-striped.table-hover{ "data-source" => attendee_sponsor_info_datatable_manage_stats_path(format: :json) }
      %thead
        %tr
          %th ID
          %th First name
          %th Last name
          %th Email
          %th School
          %th Open Source Link
          %th Portfolio Link
      %tbody

.row
  .col
    %h5.dashboard-container-title MLH Info (applied)
    %table.datatable.stats-mlhinfo-applied.table.table-striped.table-hover{ "data-source" => mlh_applied_datatable_manage_stats_path(format: :json) }
      %thead
        %tr
          %th ID
          %th First name
          %th Last name
          %th Email
          %th Phone
          %th School Name
      %tbody

.row
  .col
    %h5.dashboard-container-title MLH Info (checked in)
    %table.datatable.stats-mlhinfo-checkedin.table.table-striped.table-hover{ "data-source" => mlh_checked_in_datatable_manage_stats_path(format: :json) }
      %thead
        %tr
          %th ID
          %th First name
          %th Last name
          %th Email
          %th Phone
          %th School Name
      %tbody

.mb-4
