= render "layouts/manage/page_title", title: t(:title, scope: 'pages.manage.extra-questions') do
  = link_to "New Question", new_manage_extra_question_path, class: "btn btn-sm btn-outline-secondary"


%ul
  - @extra_questions.each do |q|
    %a.list-group-item.list-group-item-action{:href => edit_manage_extra_question_path(q)}= q.question
