.alert#disclaimer
  %h1.section-title
    %span.emphasized.fa.fa-exclamation-circle
    Missing
    %span.emphasized Country Information
  %p
    You have have not provided the country you are hacking from. Please
    %strong
      #{link_to "edit your application", edit_questionnaires_path}
    and specify your country
