%a.button.my-mlh-cta__button{href: user_mlh_omniauth_authorize_path}
  %span.my-mlh-cta__text Continue with
  %span.my-mlh-cta__image-wrapper
    = image_tag 'my-mlh.svg', alt: 'My MLH', class: 'my-mlh-cta__image'
    %span.fa.fa-chevron-right.my-mlh-cta__icon
