<%= link_to user_mlh_omniauth_authorize_path, class: 'button my-mlh-cta__button', method: :post do %>
  <span class="my-mlh-cta__text">Continue with</span>
  <span class="my-mlh-cta__image-wrapper">
    <%= image_tag 'my-mlh.svg', alt: 'My MLH', class: 'my-mlh-cta__image' %>
    <span class="fa fa-chevron-right my-mlh-cta__icon"></span>
  </span>
<% end %>
