.alert#disclaimer
  %h1.section-title
    %span.emphasized.fa.fa-exclamation-circle
    Missing
    %span.emphasized Agreements
  %p
    You have unaccepted agreements. You will not be allowed at #{HackathonConfig.hackathon_name} until all agreements have been accepted. Please
    %strong
      #{link_to "edit your application", edit_questionnaires_path}
    and review all agreements before attending.
