.theming-editor__wrapper#theming-editor
  .theming-editor__title Custom CSS Variables
  .theming-editor__variables
    .theming-editor__variable
      %small.theming-editor__variable-name
        %code.theming-editor__variable-name-code my-variable
      .theming-editor__input-group
        %input.theming-editor__input{type: 'text'}
        .theming-editor__color-picker

  .theming-editor__button-wrapper
    %button.theming-editor__button-save{type: 'button'} Save
    = link_to 'Cancel', exit_theming_editor_manage_configs_path

= javascript_include_tag "theming-editor/theming-editor.js", "data-turbolinks-eval": "false"
