<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
<title></title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
<%= Rails.env == "production" ? File.read(Rails.root.join("public" + ActionController::Base.helpers.asset_path("hackathon_manager/mailer.css"))).html_safe : Rails.application.assets["hackathon_manager/mailer"].to_s.html_safe %>
</style>
<meta name="robots" content="noindex,nofollow">
</head>


<body>
  <div id="content">
    <!--head-->
    <%= image_tag 'email_banner.jpg', class: 'banner' %>

    <!--content-->
    <div id="main-content">
      <%= yield %>
    </div>
  </div>

</body>

</html>
